﻿.bg-DinocoBlue {
    background-color: #07519C;
}

.bg-DinocoOrange {
    background-color: #EC6D20;
}

.fuel-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.fuel-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.fuel-good {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.navbar .container-fluid {
    padding-top: 0px;
}

.navbar img {
    width: 60px;
    height: 60px;
    z-index:20;
    overflow:visible;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}
@media (min-width: 768px) {
  html {
    font-size: 12px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Map Stuff
-------------------------------------------------- */

#mapid {
    height: 768px;
}


/* Container stuff */
.container-fluid{
    padding-top:30px;
}
/* Card overrides */
.card {
    margin-bottom: 1.25rem;
}

.card-header{
    padding: 0.5rem;
}

.card-body {
    padding: 0.25rem;
}
