﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<div class="row">
    <div class="col">
        <h2>Site Management </h2>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-general-tab" data-toggle="pill" href="#v-pills-general" role="tab" aria-controls="v-pills-general" aria-selected="true"> General</a>
            <a class="nav-link" id="v-pills-stores-tab" data-toggle="pill" href="#v-alerts-stores" role="tab" aria-controls="v-alerts-stores" aria-selected="false"> Stores</a>
        </div>
    </div>
    <div class="col-9 bg-white">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-general" role="tabpanel" aria-labelledby="v-pills-general-tab">
                <div class="row">
                    <div class="col">
                        
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-stores-settings" role="tabpanel" aria-labelledby="v-events-stores-tab">
                <div class="row">
                    <div class="col">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>