﻿@model Dinoco.WebDashboard.Models.Home.HomeIndexModel

@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header bg-DinocoBlue text-white">
                <h4><i class="fas fa-store-alt"></i> Store Overview:</h4>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th class="text-center" style="border-left: solid 1px #eee; border-right: solid 1px #eee;">Fuel Levels</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>Store</th>
                            <th>Coffee</th>
                            <th>
                                <div class="row">
                                    <div class="col text-center" style="border-left: solid 1px #eee; border-right: solid 1px #eee;">E85</div>
                                    <div class="col text-center" style="border-left: solid 1px #eee; border-right: solid 1px #eee;">Allinol</div>
                                    <div class="col text-center" style="border-left: solid 1px #eee; border-right: solid 1px #eee;">Diesel</div>
                                </div>
                            </th>
                            <th>Foot Traffic</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var store in Model.Stores)
                        {
                            <tr>
                                <td><a href="/Store/Index/@store.StoreID">Store #@store.StoreID</a></td>
                                <td>@store.CoffeeOverview (@store.CoffeeTemperature.ToString("N2") &deg;)</td>
                                <td>
                                    <div class="row">
                                        <div class="col text-center @store.E85DisplayClass" style="border-left: solid 1px #eee; border-right: solid 1px #eee;">@store.E85Level.ToString("N2") %</div>
                                        <div class="col text-center @store.AllinolDisplayClass" " style="border-left: solid 1px #eee; border-right: solid 1px #eee;">@store.AllinolLevel.ToString("N2") %</div>
                                        <div class="col text-center @store.DieselDisplayClass" " style="border-left: solid 1px #eee; border-right: solid 1px #eee;">@store.DieselLevel.ToString("N2") %</div>
                                    </div>
                                </td>
                                <td>@store.FootTrafficOverview</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col">
        @await Component.InvokeAsync("Alerts", new { }) 
    </div>
    <div class="col">
        @await Component.InvokeAsync("Events", new { })
    </div>
</div>

