﻿@model IEnumerable<Dinoco.Shared.Models.Telemetry.CoffeeMakerTelemetry>

@{
    int ElapsedTime = Model.Count() * 2;
}

<div class="card">
    <div class="card-header bg-DinocoBlue text-white">
        <h4>Coffee Maker over the last @ElapsedTime minutes</h4>
    </div>
    <div class="card-body">
        <canvas id="CoffeeMaker_HistoryChart" width="320" height="200"></canvas>
    </div>
</div>

<script>
    $(function () {
        var cmTrafficCtx = document.getElementById('CoffeeMaker_HistoryChart');

        var cmTrafficChart = new Chart(cmTrafficCtx, {
            type: 'line',
            data: {
                labels: [
                    @foreach(var m in Model.OrderBy(m => m.Timestamp))
                    {
                        <text>
                        '@m.Timestamp.ToString("g")',
                        </text>
                    }
                ],
                datasets: [{
                    label: 'Coffee Maker Temperature',
                    data: [
                    @foreach(var m in Model.OrderBy(m => m.Timestamp))
                    {
                        <text>
                        @m.Temperature,
                        </text>
                    }
                    ],
                    fill: false,
                    borderColor: 'rgba(75, 192, 192, 0.2)',
                    tension: 0.1
                },
                {
                    label: 'Age of Coffee',
                    data: [
                    @foreach(var m in Model.OrderBy(m => m.Timestamp))
                    {
                        <text>
                        @m.MinutesSinceLastBrew,
                        </text>
                    }
                    ],
                    fill: false,
                    borderColor: 'rgba(255, 159, 64, 0.2)',
                    tension: 0.1
                    }
                ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });
</script>