﻿@model IEnumerable<Dinoco.Shared.Models.Telemetry.FootTrafficTelemetry>

@{ 
    int ElapsedTime = Model.Count() * 2;
}

<div class="card">
    <div class="card-header bg-DinocoBlue text-white">
        <h4>Foot traffic over the last @ElapsedTime minutes</h4>
    </div>
    <div class="card-body">
        <canvas id="FootTraffic_HistoryChart" width="320" height="200"></canvas>
    </div>
</div>

<script>
    $(function () {
        var ftTrafficCtx = document.getElementById('FootTraffic_HistoryChart');

        var ftTrafficChart = new Chart(ftTrafficCtx, {
            type: 'line',
            data: {
                labels: [
                    @foreach(var m in Model.OrderBy(m => m.Timestamp))
                    {
                        <text>
                        '@m.Timestamp.ToString("g")',
                        </text>
                    }
                ],
                datasets: [{
                    label: 'People In Store',
                    data: [
                    @foreach(var m in Model.OrderBy(m => m.Timestamp))
                    {
                        <text>
                        @m.Souls,
                        </text>
                    }
                    ],
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });
</script>