﻿@model IEnumerable<Dinoco.Shared.Models.Telemetry.FuelTankTelemetry>

@{
    int ElapsedTime = Model.Count() * 2;
}

<div class="card">
    <div class="card-header bg-DinocoBlue text-white">
        <h4>Fuel Tank Levels over the last @ElapsedTime minutes</h4>
    </div>
    <div class="card-body">
        <canvas id="FuelTank_HistoryChart" width="320" height="200"></canvas>
    </div>
</div>

<script>
    $(function () {
        var fuelTrafficCtx = document.getElementById('FuelTank_HistoryChart');

        var fuelTrafficChart = new Chart(fuelTrafficCtx, {
            type: 'line',
            data: {
                labels: [
                    @foreach(var m in Model.OrderBy(m => m.Timestamp))
                    {
                        <text>
                        '@m.Timestamp.ToString("g")',
                        </text>
                    }
                ],
                datasets: [{
                    label: 'E85',
                    data: [
                    @foreach(var m in Model.OrderBy(m => m.Timestamp))
                    {
                        <text>
                        @m.E85,
                        </text>
                    }
                    ],
                    fill: false,
                    borderColor: 'rgba(75, 192, 192)',
                    tension: 0.1
                },
                {
                    label: 'Allinol',
                    data: [
                    @foreach(var m in Model.OrderBy(m => m.Timestamp))
                    {
                        <text>
                        @m.Allinol,
                        </text>
                    }
                    ],
                    fill: false,
                    borderColor: 'rgba(153, 102, 255)',
                    tension: 0.1
                    },
                {
                    label: 'Diesel',
                    data: [
                    @foreach(var m in Model.OrderBy(m => m.Timestamp))
                    {
                        <text>
                        @m.Diesel,
                        </text>
                    }
                    ],
                    fill: false,
                    borderColor: 'rgba(255, 159, 64)',
                    tension: 0.1
                    }
                ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });
</script>