﻿@model Dinoco.WebDashboard.Models.Store.StoreIndexModel

@{
    string StoreName = $"Store{@Model.StoreNumber}";
    ViewData["Title"] = $"Dashboard for {StoreName}";
}

<div class="row">
    <div class="col">
        <h2>Store # @Model.StoreNumber</h2>
        <div><span>@Model.AddressLine</span></div>

    </div>
    <div class="col-sm-4">
        <div class="text-right"><span>@Model.ManagerLine</span></div>
        <div class="text-right"><span>@Model.ContactLine</span></div>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-overview-tab" data-toggle="pill" href="#v-pills-overview" role="tab" aria-controls="v-pills-overview" aria-selected="true"><i class="fas fa-columns"></i> Overview</a>
            <a class="nav-link" id="v-pills-alerts-tab" data-toggle="pill" href="#v-alerts-settings" role="tab" aria-controls="v-alerts-settings" aria-selected="false"><i class="fas fa-exclamation-triangle"></i> Device Alerts</a>
            <a class="nav-link" id="v-pills-events-tab" data-toggle="pill" href="#v-events-settings" role="tab" aria-controls="v-events-settings" aria-selected="false"><i class="fas fa-tasks"></i> Device Events</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false"><i class="fas fa-cogs"></i> Settings</a>
        </div>
    </div>
    <div class="col-9 bg-white">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-overview" role="tabpanel" aria-labelledby="v-pills-overview-tab">
                <div class="row" id="Store_SensorBar">
                    <div class="col">
                        <div class="card">
                            <div class="card-header bg-DinocoOrange text-white">
                                <div class="row">
                                    <div class="col sensorName">Coffee Machine</div>
                                    <div class="col-sm-2"><i class="fas fa-search-plus float-right showHistory" data-sensor="CoffeeMaker"></i></div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col"><i class="fas fa-coffee"></i> <span class="coffeeMaker_state">Off</span></div>
                                    <div class="col-sm-4"><span class="coffeeMaker_temperature float-right">0 &deg;</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col text-center"><span class="coffeeMaker_age" style="font-size:4em;">0</span> mins old</div>
                                    <div class="col-sm-1"></div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="col">
                                    <div class="text-right">
                                        Last Updated: <span class="coffeeMaker_lastUpdate">Never</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-header bg-DinocoOrange text-white">
                                <div class="row">
                                    <div class="col sensorName">Fuel Tank Levels</div>
                                    <div class="col-sm-2"><i class="fas fa-search-plus float-right showHistory" data-sensor="FuelTank"></i></div>
                                </div>
                            </div>
                            <div class="card-body">
                                <canvas id="FuelTankChart" width="320" height="200"></canvas>
                            </div>
                            <div class="card-footer">
                                <div class="col">
                                    <div class="text-right">
                                        Last Updated: <span class="fueltank_lastUpdate">Never</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" data-sensortyp="FootTraffic">
                            <div class="card-header bg-DinocoOrange text-white">
                                <div class="row">
                                    <div class="col sensorName">People in Store</div>
                                    <div class="col-sm-3"><i class="fas fa-search-plus float-right showHistory" data-sensor="FootTraffic"></i></div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3"></div>
                                    <div class="col text-center"><span style="font-size:4em;" class="telemetryValue">??</span> souls</div>
                                    <div class="col-sm-3"></div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="col">
                                    <div class="text-right">
                                        Last Updated: <span class="foottraffic_lastUpdate">Never</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col" id="Store_SensorTrend" style="height:100px;">

                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="v-alerts-settings" role="tabpanel" aria-labelledby="v-events-alerts-tab">
                <div class="row">
                    <div class="col">
                        @await Component.InvokeAsync("Alerts", new { StoreID = Model.StoreNumber })
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-events-settings" role="tabpanel" aria-labelledby="v-events-settings-tab">
                <div class="row">
                    <div class="col">
                        @await Component.InvokeAsync("Events", new { StoreID = Model.StoreNumber })
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <div class="row">
                    <div class="col">
                        <p class="text-center text-danger">Not suppported under Free Tier</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"
            integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>

    <script src="~/js/SignalRMessageProcessor.js" asp-append-version="true"></script>
    <script>
        var storeID = '@StoreName'

        initializeTiles();

        //Load Our Last Known State. SignalR will take care of the rest
        UpdateDeviceTile('@Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.LastFootTrafficTelemetry))');
        UpdateDeviceTile('@Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.LastFuelTankTelemetry))');
        UpdateDeviceTile('@Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.LastCoffeeMakerTelemetry))');

        var connection = new signalR.HubConnectionBuilder()
            .withUrl('/DeviceTelemetryHub')
            .build();

        connection.on('DeviceTelemetry', function (telemetryFromDevice) {
            UpdateDeviceTile(telemetryFromDevice);
        });

        connection.start()
            .then(function () {
                console.log('Listening for messages for :' + storeID);
                connection.invoke("JoinGroup", storeID).catch(function (err) {
                    return console.error(err.toString());
                });
            })
            .catch(function (error) {
                console.error(error.message);
            });


        $(function () {

            $('.showHistory').on('click', function () {
                var payload = {
                    "StoreID": @Model.StoreNumber,
                    "DeviceType": $(this).data('sensor')
                }

                $("#Store_SensorTrend").load("/Store/DeviceHistory", payload, function () {

                });
            })
        })
    </script>
}