﻿@model IEnumerable<Dinoco.Shared.Models.Telemetry.GeneralMessageTelemetry>


<div class="card ">
    <div class="card-header bg-DinocoBlue text-white">
        <h4><i class="fas fa-tasks"></i> Recent Events:</h4>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Description</th>
                    <th>Store</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td class="text-center" colspan="3">Nothing to event on!</td>
                    </tr>
                }

                @foreach (var evnt in Model.OrderByDescending(m => m.Timestamp))
                {
                    <tr>
                        <td>@evnt.Timestamp.ToString("g")</td>
                        <td>@evnt.Message</td>
                        <td><a href="/Store/Index/@evnt.StoreID">Store @evnt.StoreID</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
